#### <font size="6">Session 2: Variables & Data type & Python Operators ####

# <font color='Blue' size="5.5"> I. Variables </font>

Variables are containers for storing data values.

## Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"

# Output Variables

The Python print() function is often used to output variables.

In [ ]:
x = "Python is awesome"
print(x)

In [ ]:
x = "Power is awesome"
print(x)

# Case-Sensitive

Variable names are case-sensitive

In [ ]:
a = 4
A = "Sandwich"
#A will not overwrite a

# > <font color='red'>Exercise</font>

Create a variable named carname and assign the value Volvo to it.

Insert the correct syntax to assign the same value to all three variables in one code line.

In [ ]:
x y z "Orange"

# <font color='Blue' size="5.5"> II. Data Type </font>
    
Variables can store data of different types, and different types can do different things.



Python has the following data types built-in by default, in these categories:
<ol>
 <li>Text Type: str</li>
 <li>Numeric Types: int, float</li>
 <li>Sequence Types: list, tuple</li>
 <li>Mapping Type: dict</li>
 <li>Set Types: set, frozenset</li>
 <li>Boolean Type: bool</li>
 <li>Binary Types: bytes, bytearray, memoryview</li>
 <li>None Type: NoneType</li>
</ol>

In [ ]:
x1 = "Hello World" #str 
x2 = 20 #int 
x3 = 20.5 #float 
x4 = 1j #complex 
x5 = ["apple", "banana", "cherry"] #list 
x6 = ("apple", "banana", "cherry") #tuple 
x7 = range(6) #range 
x8 = {"name" : "John", "age" : 36} #dict 
x9 = {"apple", "banana", "cherry"} #set 
x10 = frozenset({"apple", "banana", "cherry"}) #frozenset 
x11 = True #bool 
x12 = b"Hello" #bytes 
x13 = bytearray(5) #bytearray 
x14 = memoryview(bytes(5)) #memoryview 
x15 = None #NoneType

# Casting

If you want to specify the data type of a variable, this can be done with casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

# Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
a = "Hello"
print(a)

# Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

# Single or Double Quotes

String variables can be declared either by using single or double quotes:

In [ ]:
x = "John"
# is the same as
x = 'John'

# Special Characters in String

The characters which have some unique functionality, such characters are called special characters.

\n - Newline

\t - Horizontal tab

\r - Carriage return

\\' - Single Quote

\\" - double quote

\\ - Backslash

In [17]:
greeting = "Hello !\nHow are you today ?"
print(greeting)

Hello !
How are you today ?

# Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
a = "Hello"
print(a[1])

<img src="">

In [ ]:
# Get the characters from position 2 to position 5 (not included)
b = "Hello"
print(b[2:4])
print(b[:3])

In [ ]:
# Merge variable a with variable b into variable c:
a = "Hello"
b = " World"
c = a + b
print(c)

Dictionaries cannot have two items with the same key

# Get the Type

You can get the data type of a variable with the type() function.

In [ ]:
print(type(x13))

# > <font color='red'>Exercise</font>

1. The following code example would print the data type of x and y, what data type would that be?

    x = 20.5

    y = True

2.  What another_text would that be?

In [ ]:
text = "Hello everyone, nice to meet you"
another_text = text[0:6] + "all" + text[14:]

3. Reassign variable "this year" to correct "2022" to "2023"

In [ ]:
this_year = "This year is 2022"

print(this_year)

# <font color='Blue' size="5.5"> III. Python Operators </font>

Operators are used to perform operations on variables and values.

In [ ]:
print(10 + 5)

| Operator | Example |
| --- | --- |
|+|x + y|
|-|x - y|
|* | x * y |
|/ | x / y|
|% | x % y|
|^ | x ** y|
|//|x // y|

# Python Comparison Operators

Comparison operators are used to compare two values:

| Operator | Name | Example |
| --- | ---  | --- |
== | Equal |x == y|
!= | Not equal |x != y |
\> | Greater than | x > y|
< |Less than|x < y|
\>= |Greater than or equal to|x >= y|
<= |Less than or equal to|x <= y

In [ ]:
print(10 == 5)

In [ ]:
x = 1
y = 2
z = 3

print(x + y == z)

# Python Logical Operators

Logical operators are used to combine conditional statements:

| Operator | Description | Example |
| --- | ---  | --- |
|and |Returns True if both statements are true|x < 5 and  x < 10|
|or|Returns True if one of the statements is true|x < 5 or x < 4|
|not|Reverse the result, returns False if the result is true|not(x < 5 and x < 10)

In [ ]:
x = 1
y = 2
z = 3

print( y > x and y > z)

# > <font color='red'>Exercise</font>

1. What is the result ?

In [ ]:
x = 10
y = x**2
z = 20
z += y

print(z)